.banner {
    width: 100%;
    height: 185px;
}

.profileDescr {
    display: flex;
}

.list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.listItem {
    font-size: 16px;
    margin-bottom: 5px;
}

.listItemName {
    font-size: 30px;
    font-weight: 700;
}

.listItem span {
    font-weight: 500;
    margin-right: 5px;
}

.avatarContainer {
    position: relative;
    margin: 5px 15px 0 15px;
}

.avatarContainer:hover .addImageIcon {
    display: block;
}

.avatarOwners {
    cursor: pointer;
}
.avatar {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.addImageIcon {
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 25px;
    height: 25px;
    display: none;
}

.fileUploadInput {
    width: 0;
    height: 0;
    visibility: hidden;
}

.status:hover {
    cursor: pointer;
}