.app-wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    grid-template-areas: 'header header' 'nav cont' 'footer footer';
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.header {
    grid-area: header;
    background: olivedrab;
    padding-left: 15px;
    padding-right: 15px;
}
.logo {
    max-width: 75px;
}
.nav {
    grid-area: nav;
    background: rgb(85, 209, 209);
}

.content {
    grid-area: cont;
    background: antiquewhite;
    min-height: 100%;
}

.footer {
    grid-area: footer;
    padding-left: 15px;
    padding-right: 15px;
    background: olive;
}