* {
    box-sizing: border-box;
}
body {
    overflow: hidden;
    background-color: #d6d6d6;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #edf2f6;
}
::-webkit-scrollbar-thumb {
    background: #888da8;
    border-radius: 100vw;
}

@supports (scrollbar-color: #888da8 #edf2f6) {
    * {
        scrollbar-color: #888da8 #edf2f6;
    }
}

p {
    padding: 0;
    margin: 0;
}

.app-wrapper {
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    grid-template-columns: 2fr 10fr;
    grid-template-areas: 'header header' 'nav cont' 'footer footer';
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    min-height: 100vh;
}

.app-wrapper-content {
    grid-area: cont;
    background: #fff;
    min-height: calc(100vh - 70px);
}
